<!DOCTYPE html>
<html lang=ru
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить заказ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <a class="navbar-brand" >
        <img th:src="@{images/logo.png}" alt="Logo" src="../static/images/logo.png"></a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Меню</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/clients}">Клиенты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/orders}">Заказы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/statistics}">Статистика</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
<form th:method="post" class="was-validated">
    <div class="form-group">
        <label for="client">Телефон клиента</label>
        <input class="form-control" type="text" id="client" th:field="${newOrder.clientPhone}" required/>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Это поле должно быть заполнено.</div>
    </div>
    <div class="form-group">
        <label for="date">Дата</label>
        <input class="form-control" type="date" id="date" th:field="${newOrder.date}" required/>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Это поле должно быть заполнено</div>
    </div>
    <div class="form-group">
        <label for="time-start">Начало</label>
        <input class="form-control" type="time" id="time-start" th:field="${newOrder.startTime}" required/>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Это поле должно быть заполнено</div>
    </div>
    <div class="form-group">
        <label for="time-end">Конец</label>
        <input class="form-control" type="time" id="time-end" th:field="${newOrder.finishTime}" required/>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Это поле должно быть заполнено</div>
    </div>
    <div class="form-group">
        <label for="price">Стоимость</label>
        <input class="form-control" type="number" id="price" th:field="${newOrder.price}" required/>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Это поле должно быть заполнено</div>
    </div>
    <input class="btn btn-primary" type="submit" value="Добавить заказ"/>
</form>
</div>
</body>
</html>