<!DOCTYPE html>
<html lang=ru
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
</head>
<body>
<table border="1">
    <tr><th><a th:href="@{/}">Меню</a></th><th><a th:href="@{/clients}">Клиенты</a></th>
        <th><a th:href="@{/orders}">Заказы</a></th><th><a th:href="@{/statistics}">Статистика</a></th></tr>
</table>
<br/>
<h2>Заказы на неделю</h2>
<table border="1">
    <tr><th>ПН</th><th>ВТ</th><th>СР</th><th>ЧТ</th><th>ПТ</th><th>СБ</th><th>ВС</th></tr>
    <tr>
        <th:block th:each="day:${week}">
            <td>
                <table border="1">
                    <tr th:each="order:${day}">
                        <td th:text="${order}"></td>
                    </tr>
                </table>
            </td>
        </th:block>
    </tr>
</table>
<br/>
<h2>Заказы на месяц</h2>
<table border="1">
    <tr><th>ПН</th><th>ВТ</th><th>СР</th><th>ЧТ</th><th>ПТ</th><th>СБ</th><th>ВС</th></tr>
    <tr th:each="i:${#numbers.sequence(0, month.size()-1,1)}">
        <th:block th:each="day:${month.get(i)}">
            <td>
                <table border="1">
                    <tr th:each="order:${day}">
                        <td th:text="${order}"></td>
                    </tr>
                </table>
            </td>
        </th:block>
    </tr>
</table>
</body>
</html>