<!DOCTYPE html>
<html lang=ru
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Услуги</title>
</head>
<body>
<table border="1">
    <tr><th><a th:href="@{/}">Меню</a></th><th><a th:href="@{/clients}">Клиенты</a></th>
        <th><a th:href="@{/orders}">Заказы</a></th><th><a th:href="@{/statistics}">Статистика</a></th></tr>
</table>
<br/>
<table border="1">
    <tr><th>№</th><th>НАЗВАНИЕ</th></tr>
    <tr th:each="serviceList:${serviceList}">
        <td th:text="${serviceList.getId()}"></td>
        <td th:text="${serviceList.getName()}"></td>
    </tr>
</table>
<br/>
<a th:href="@{/services/add}">Добавить услугу</a>
<br/>
</body>
</html>